
@{
    ViewBag.Title = "Document";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Document</h2>

<p>

    <span style="font-size: large">Author Name: Xiang Ren</span><br style="font-size: large" />
    <span style="font-size: large">Student ID: 25343165</span><br style="font-size: large" />
    <span style="font-size: large">Unit Name: FIT5032 Internet applications development </span> <br style="font-size: large" />
    <span style="font-size: large">Unit Provider: Monash University, The Caulfield School of Information Technology</span><br style="font-size: large" />
    <span style="font-size: large">Assignment number: 03</span><br style="font-size: large" />
    <span style="font-size: large">Date of submission: Due Friday 2pm week 12</span><br style="font-size: large" />
    <span style="font-size: large">Tutors name: Sneha Koduru</span><br style="font-size: large" />
    <span style="font-size: large">Author Email: xren18@student.monash.edu</span><br style="font-size: large" />
    <a href="http://moodle.vle.monash.edu/mod/page/view.php?id=2639939"><span style="font-size: large">Assignment specification link</span></a>
    <br/>The images are all from internet.

</p>

<p>
    <h4>Details MVC functionality </h4>
    In Controllers, carController.cs and companiesContorller.cs have access to database<br/>
    In Models, Model.edmx/Model.tt/cars.cs saves the validation control info.<br/>
    In Views, cars and companies would have list view page design. <br/> 
</p>

<p>
    <h4>Details of jQuery functionality</h4>
    In company index page, a jQuery is used to count the number of rows, and show it with a alart window.<br/>
    In car index page, jQueries are used to change the template of table, and have mouse over action.<br/>
    In home index page, there are 2, one is a date picker jQuery and the other one is picture zoom in.<br/>
    <a href="http://jqueryui.com/"><span style="font-size: large">jQuery source link</span></a>
</p>